@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.analytics-reports {
			transition: opacity 0.5s ease;

			.accessibility-tick-line.active {
				stroke: #cdced9;

				&:focus {
					outline: none;
				}
			}

			.empty-chart {
				position: relative;

				&--show {
					.recharts-wrapper {
						.recharts-cartesian-grid-vertical line:not(:last-child),
						.recharts-cartesian-grid-horizontal
							line:not(:last-child):not(:first-child) {
							stroke-opacity: 0 !important;
						}
					}
				}

				.empty-chart-content {
					bottom: 0;
					display: flex;
					flex-direction: column;
					height: 220px;
					justify-content: center;
					left: 0;
					margin: 0 auto;
					max-width: 300px;
					padding-left: 40px;
					position: absolute;
					right: 0;
					text-align: center;
					top: 0;

					.c-empty-state-title {
						margin: 0 !important;
					}
				}
			}

			.metrics-chart {
				min-height: 300px;

				.recharts-label {
					fill: #6b6c7e;
					font-size: 12px;
					font-weight: 400;
				}

				> .chart-root {
					margin-bottom: 0;
				}

				.metrics-chart__legend {
					margin: 0;
					padding: 0;

					li {
						cursor: pointer;
						display: inline-block;
					}
				}
			}

			.bb-axis-x {
				transform: translateY(271px);
			}

			.bb-line-data-previous {
				stroke-width: 2px;
			}

			.bb-legend {
				&-background {
					stroke-width: 0;
				}

				&-item a {
					color: inherit;
				}
			}

			.bb-tooltip-container {
				background-color: #fff;
				border: 1px solid #cdced9;
				border-radius: 3px;
				max-width: none;
				padding: 0;

				.bb-tooltip {
					box-shadow: none;

					td,
					th {
						font-size: 12px;
						padding: 2px 14px;
					}

					th {
						border-bottom: 1px solid #cdced9;
						padding: 6px 14px;
					}

					tr:nth-child(2) td {
						padding-top: 6px;
					}

					tr:last-child td {
						padding-bottom: 6px;
					}
				}

				.tooltip-template {
					display: block;
				}
			}

			.recharts-wrapper {
				.recharts-cartesian-grid-vertical line:not(:last-child),
				.recharts-cartesian-grid-horizontal
					line:not(:last-child):not(:first-child) {
					stroke-opacity: 1 !important;
				}
			}
		}

		.global-filters .filter .filter__trigger-label {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}

		.overview-metrics {
			margin: 1rem 0;

			@media screen and (max-width: 768px) {
				.overview-metric {
					width: 92px !important;

					&__percentage-description {
						display: none;
					}

					&__value {
						font-size: 16px;
					}
				}
			}

			.overview-metric {
				margin: 0 1rem 1rem 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.tab-focus:focus {
			border-radius: 4px;
			box-shadow:
				0 0 0 2px #fff,
				0 0 0 4px #5791ff;
			outline: 0;
		}

		.overview-metric {
			background-color: $cadmin-white;
			border-radius: 4px;
			color: $cadmin-secondary;
			padding: 0.75rem;
			width: 185px;

			&__value {
				font-size: 2rem;
				font-weight: 600;
			}

			&:hover {
				background-color: $cadmin-gray-100;
				color: $cadmin-black;
			}

			&.selected {
				background-color: $cadmin-primary-l3;
				color: $cadmin-black;
			}
		}

		.tooltip-template {
			border-collapse: collapse;
			display: none;
			margin: 12px;

			.tooltip-template__column {
				line-height: initial;
				padding: 0;
				padding-bottom: 0.5rem;
			}

			.tooltip-template__body .tooltip-template__content {
				min-height: 18px;
				position: relative;
				width: 100%;
			}

			.tooltip-template__truncated {
				position: absolute;
				width: 100%;
			}

			.tooltip-template__header {
				box-shadow: 0 1px 0 0 #e7e7ed;

				.tooltip-template__column {
					font-weight: 600;
				}
			}

			.tooltip-template__body {
				.tooltip-template__row {
					color: #6b6c7e;

					&:first-child .tooltip-template__column {
						padding-top: 0.5rem;
					}

					&:last-child .tooltip-template__column {
						padding-bottom: 0;
					}
				}
			}

			svg > path {
				fill: currentColor;
			}

			.text-left {
				align-items: center;
				display: flex;
				justify-content: flex-start;
			}

			.text-right {
				align-items: center;
				display: flex;
				justify-content: flex-end;
			}

			.circle {
				display: inline-flex;
			}
		}

		.stacked-bar {
			position: relative;

			&.active .stacked-bar-chart__bar:not(.active) {
				opacity: 0.4;
			}

			&.multiple-bars {
				.stacked-bar-chart__bar:first-child {
					border-radius: 6px 0 0 6px;
				}

				.stacked-bar-chart__bar:last-child {
					border-radius: 0 6px 6px 0;
				}
			}

			&:not(.multiple-bars) .stacked-bar-chart__bar {
				border-radius: 6px;
			}
		}

		.stacked-bar-chart {
			display: flex;
			height: 24px;
			width: 100%;

			&__bar {
				height: 24px;
			}
		}

		.stacked-bar-legend {
			display: flex;

			&__item {
				align-items: center;
				cursor: pointer;
				display: flex;
				margin: 14px 0 0 24px;
			}

			&__icon {
				border-radius: 2px;
				height: 8px;
				margin: 2px 8px 0 0;
				width: 8px;
			}
		}

		.stacked-bar-tooltip {
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: -90px;

			&__icon {
				border-radius: 2px;
				height: 8px;
				margin: 2px 8px 0 0;
				width: 8px;
			}
		}
	}
}
