#loginCardContainer {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1500;
}

#loginCardContainer .close-button {
	margin-left: 90%;
	margin-right: 20px;
	margin-top: 20px;
	position: relative;
}

#loginCardArea {
	background-color: #fff;
	border-radius: 0.75rem;
	left: 50%;
	max-width: 400px;
	min-width: 300px;
	padding: 20px;
	position: fixed;
	top: 25%;
	transform: translate(-50%, 0);
	z-index: 2000;
}
