@import './components/SLACard/sla_card';
@import './components/SLACardMessage/sla_card_message';
@import './components/SwitchSLACardButton/switch_sla_card_button';

.cp-sla-container {
	&:hover {
		.cp-switch-sla-card-button {
			display: inline-block !important;
			transform: translate(10.5rem, -2.5rem);
			z-index: 100;
		}
	}
}
